@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif;
  --font-body: "IBM Plex Sans", var(--font-fallback);
  --font-mono: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  --clr-blue: hsl(200, 100%, 50%);
  --clr-blue-hsl: 200, 100%, 50%;
  --clr-blue-light: hsl(200, 100%, 75%);
  --clr-blue-dark: hsl(200, 100%, 30%);
  --clr-green: hsl(158, 78%, 42%);
  --clr-green-dark: hsl(158, 78%, 22%);
  --clr-orange: hsl(21, 100%, 60%);
  --clr-orange-dark: hsl(21, 100%, 40%);
  --clr-purple-hover: hsl(269, 79%, 84%);
  --clr-purple: hsl(269, 79%, 74%);
  --clr-purple-dark-hover: hsl(269, 79%, 54%);
  --clr-purple-dark: hsl(269, 79%, 44%);
  --clr-red: hsl(350, 100%, 54%);
  --clr-red-dark: hsl(350, 100%, 44%);
  --clr-yellow: hsl(41, 100%, 58%);
  --clr-yellow-dark: hsl(41, 100%, 38%);
}

.site-width {
  @apply lg:w-6/12 mx-auto;
}

.prose-anchor {
  @apply text-teal-500 underline-offset-4 hover:text-cyan-200;
}

.fancy-anchor {
  @apply uppercase text-sm text-teal-500 underline-offset-4 hover:text-cyan-200;
}

.grid-2-1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.profile-shape {
  border-radius: 58% 42% 41% 59% / 51% 78% 22% 49%;
  transition: border-radius 0.4s ease-in-out;
}

.profile-shape:hover {
  border-radius: 90% 10% 79% 21% / 29% 78% 22% 71%;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
